# %magic 

* **line** magics - single % prefix -- operate on a *single* line of text
* **cell** magics - double %% prefix -- operate on *multiple* lines of text

In [1]:
% timeit L = [n ** 2 for n in range(10000)]

100 loops, best of 3: 3.15 ms per loop

In [3]:
%%timeit
L = []
for n in range(10000):
  L.append(n ** 2)

100 loops, best of 3: 3.78 ms per loop

## How do I get help on magic commands?

In [4]:
%timeit?

In [5]:
%magic

# pandas

In [9]:
from pandas import Series, DataFrame
import pandas as pd

## getting help
* type pd. then <tab>
* type pd.Series(,  then <shift-tab> 1x, 2x, 3x

In [ ]:
# pd.Series()

In [13]:
#states = pd.read_csv("https://github.com/jasonong/List-of-US-States/blob/master/states.csv")
states = pd.read_csv("https://raw.githubusercontent.com/jasonong/List-of-US-States/master/states.csv")
states.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [28]:
states.Abbreviation.head(n=3)
states.State.head(n=3)

0    Alabama
1     Alaska
2    Arizona
Name: State, dtype: object

In [31]:
state_names = pd.Series(states.State)
state_names.head()

0       Alabama
1        Alaska
2       Arizona
3      Arkansas
4    California
Name: State, dtype: object

In [33]:
state_names = Series(states.State.values,index=states.Abbreviation)

Abbreviation
AL                 Alabama
AK                  Alaska
AZ                 Arizona
AR                Arkansas
CA              California
CO                Colorado
CT             Connecticut
DE                Delaware
DC    District of Columbia
FL                 Florida
GA                 Georgia
HI                  Hawaii
ID                   Idaho
IL                Illinois
IN                 Indiana
IA                    Iowa
KS                  Kansas
KY                Kentucky
LA               Louisiana
ME                   Maine
MT                 Montana
NE                Nebraska
NV                  Nevada
NH           New Hampshire
NJ              New Jersey
NM              New Mexico
NY                New York
NC          North Carolina
ND            North Dakota
OH                    Ohio
OK                Oklahoma
OR                  Oregon
MD                Maryland
MA           Massachusetts
MI                Michigan
MN               Minnesota
MS             Mississippi
MO                Missouri
PA            Pennsylvania
RI            Rhode Island
SC          South Carolina
SD            South Dakota
TN               Tennessee
TX                   Texas
UT                    Utah
VT                 Vermont
VA                Virginia
WA              Washington
WV           West Virginia
WI               Wisconsin
WY                 Wyoming
dtype: object

In [36]:
states_dict = Series(states.State.values,index=states.Abbreviation).to_dict()
print (states_dict)

{'VT': 'Vermont', 'WA': 'Washington', 'FL': 'Florida', 'WV': 'West Virginia', 'AK': 'Alaska', 'OK': 'Oklahoma', 'NV': 'Nevada', 'MO': 'Missouri', 'RI': 'Rhode Island', 'PA': 'Pennsylvania', 'ID': 'Idaho', 'HI': 'Hawaii', 'SC': 'South Carolina', 'AR': 'Arkansas', 'KY': 'Kentucky', 'ME': 'Maine', 'DE': 'Delaware', 'KS': 'Kansas', 'OR': 'Oregon', 'VA': 'Virginia', 'MD': 'Maryland', 'NY': 'New York', 'MN': 'Minnesota', 'NM': 'New Mexico', 'WY': 'Wyoming', 'AZ': 'Arizona', 'UT': 'Utah', 'WI': 'Wisconsin', 'SD': 'South Dakota', 'NC': 'North Carolina', 'IL': 'Illinois', 'TN': 'Tennessee', 'MI': 'Michigan', 'NH': 'New Hampshire', 'MT': 'Montana', 'AL': 'Alabama', 'CA': 'California', 'OH': 'Ohio', 'GA': 'Georgia', 'TX': 'Texas', 'LA': 'Louisiana', 'ND': 'North Dakota', 'NE': 'Nebraska', 'CO': 'Colorado', 'MS': 'Mississippi', 'NJ': 'New Jersey', 'IN': 'Indiana', 'CT': 'Connecticut', 'IA': 'Iowa', 'MA': 'Massachusetts', 'DC': 'District of Columbia'}

### todo: 
1. Create a panda series from a list of state names where U.S.-based students live (or international students have visited most recently)
2. Modify this list so that the index names are the two digit state codes.
3. Create the same list from a dictionary, where the index is the two digit state code and the Series object's values are the state names.

In [10]:
# code here

## sources / references
* *Python Data Science Handbook*, Jake VanderPlas, O'Reilly, December 2016.
* *Python for Data Analysis, 2nd edition*, Wes McKinney, O'Reilly.  Scheduled for publication in 2017.  Rough cut available behind paywall at O'Reilly Safari site.